version: '3.8'

services:
  app:
    image: 'jc21/nginx-proxy-manager:latest'
    restart: unless-stopped
    ports:
      - '80:80'      # HTTP Traffic
      - '443:443'    # HTTPS Traffic
      - '81:81'      # NPM Admin Interface
    environment:
      DB_SQLITE_FILE: "/data/database.sqlite"
    volumes:
      - ./data:/data
      - ./letsencrypt:/etc/letsencrypt
    networks:
      - reverse-proxy

networks:
  reverse-proxy:
    external: true
